body {
    color: #444C38;
    background-color: #D0F0C0;

}

flashes {
    line-height: 4;
}

.sage {
    background-color: #9DC183;
}

.uniform {
    background-color: #444C38;
}

.uniform-text {
    color: #444C38;
}

.hunter {
    background-color: #3F704D;
}

.tea {
    background-color: #D0F0C0;
}

.laurel {
    background-color: #A9BA9D;
}

.main-recipes-container {
    padding-left: 20px;
    padding-right: 20px;
}

.ingredient-text {
    color: black;
}

.tab-container {
    padding-bottom: 20px;
    color: #444C38;
}

.recipe-name {
    padding-top: 20px;
}


#imageHolder {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

.time-text {
    float: right;
    font-size: 66%;

}

.tabs .tab a {
    color:#7c8173;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #444C38;
}
.tabs .indicator{
    background-color: #3F704D;
}

.collection .collection-item{
    background-color: #9DC183;
    color: #444C38
}