{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Cuisine</h3>

    <div class="row">
        <form class="col s10 offset-s1 add-recipe-form" method="POST" action="{{ url_for('edit_cuisine', cuisine_id=cuisine._id) }}">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{{ cuisine.cuisine_name }}" id="cuisine_name" minlength="3" maxlength="15" type="text" name="cuisine_name" class="validate">
                            <label for="cuisine_name">Cuisine Name</label>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="row">
                <div class="col s10 offset-s1 center-align">
                    <a href="{{ url_for('get_cuisines') }}" class="btn-large">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large">
                        Edit Cuisine
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}