{% extends "base.html" %}
{% block content %}
   
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel hunter-text sage">
                <h3 class="center-align">
                    {{ username.capitalize() }}'s Profile
                </h3>
            </div>
                <div class="row">
                    {% for recipe in recipes %}
                    <div class="col s12 m6 l4 main-recipes-container">
                    <div class="card">
                        <div class="card-image">
                        <a href="{{ url_for('recipe_page', recipe_id=recipe._id) }}">
                            <img class="recipe-img" src="{{ recipe.image }}" height=150>
                        </a>
                        </div>
                        <div class="card-content">
                        <span class="card-title"><a class="recipe-card-name" href="{{ url_for('recipe_page', recipe_id=recipe._id) }}">
                            <strong>{{ recipe.recipe_name }}</strong></a><span>
                            <span class="time-text">{{ recipe.prep_time|int + recipe.cook_time|int }} Minutes</span>
                            <p class="description-text">{{ recipe.description|truncate(150) }}</p>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            
        </div>
    </div>
    
{% endblock %}