{% extends "base.html" %}
{% block content %}

    <div class="row">

      {% for recipe in recipes %}
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="{{ recipe.image }}" height=150>
          </div>
          <div class="card-content">
            <span class="card-title"><a href="{{ url_for('recipe_page', recipe_id=recipe._id) }}"> <strong>{{ recipe.recipe_name }}</strong></a><span>
            <span class="time-text">{{ recipe.prep_time + recipe.cook_time }} Minutes</span>
            <p>{{ recipe.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    

{% endblock %}